In [3]:
import json
from pprint import pprint

In [4]:
with open('recipes.json') as f:
    recipes = json.load(f)

# 13.1 Ответ 1: 1
#         Ответ 2: 30 000
#         Ответ 3: 3

In [4]:
recipes[0]['id']

10259

In [5]:
for recipe in recipes:
    if recipe['id'] ==13121:
        print(recipe['cuisine'])
        break

thai

In [33]:
len(recipes)

500

In [26]:
recipes[499]['id']

24410

In [34]:
for recipe in recipes:
    if recipe['id'] ==24410:
        print(recipe['cuisine'])
        break

british

In [36]:
len(recipes[499]['ingredients'])

17

In [51]:
for recipe in recipes:
    if recipe['id'] ==17636:
        print(recipe['ingredients'])
        break

['tomato sauce', 'shredded carrots', 'spinach', 'part-skim mozzarella cheese', 'italian seasoning', 'english muffins, split and toasted', 'chopped onion', 'vegetable oil cooking spray', 'chopped green bell pepper']

In [53]:
for recipe in recipes:
    if recipe['id'] ==23629:
        print(recipe['ingredients'])
        break

['eggs', 'russet potatoes', 'mexican chorizo', 'black beans', 'salsa', 'canola oil', 'colby cheese', 'black olives', 'sour cream', 'avocado', 'half & half', 'goat cheese']

# 13.2 Ответ 1: british
#         Ответ 2: 17
#         Ответ 3: 1, 2, 4, 5
#         Ответ 4: 14
#         Ответ 5: 4, 5, 6

In [54]:
cuisines = []
for recipe in recipes:
    if not(recipe['cuisine'] in cuisines):
        cuisines.append(recipe['cuisine'])
len(cuisines)

20

In [55]:
cuisines = set()
for recipe in recipes:
    cuisines.add(recipe['cuisine'])
len(cuisines)

20

In [66]:
ingredients = []
for recipe in recipes:
    if not(recipe['cuisine'] in cuisines):
        cuisines.append(recipe['cuisine'])
len(cuisines)

20

In [5]:
import pandas as pd
df = pd.DataFrame(recipes)

In [68]:
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [69]:
def find_item(cell):
    if item in cell:
        return 1
    return 0

In [72]:
for item in ingredients:
    df[item] = df['ingredients'].apply(find_item)

In [71]:
df['ingredients'] = df['ingredients'].apply(len)

# 13.4 Ответ 1: 2
#         Ответ 2: 4
#         Ответ 3: 2
#         Ответ 4: 2, 3, 4
#         Ответ 5: 3
#         Ответ 6:
with open('recipes.json') as f:
    recipes = json.load(f)
ingredients = set()
for recipe in recipes:
    for ing in recipe['ingredients']:
        ingredients.add(ing)
df = pd.DataFrame(recipes)
def find_item(cell):
    if item in cell:
        return 1
    return 0
for item in ingredients:
    df[item] = df['ingredients'].apply(find_item)
df['ingredients'] = df['ingredients'].apply(lambda x: len(x))

In [76]:
with open('recipes.json') as f:
    recipes = json.load(f)
ingredients = set()
for recipe in recipes:
    for ing in recipe['ingredients']:
        ingredients.add(ing)
df = pd.DataFrame(recipes)
def find_item(cell):
    if item in cell:
        return 1
    return 0
for item in ingredients:
    df[item] = df['ingredients'].apply(find_item)
df['ingredients'] = df['ingredients'].apply(lambda x: len(x))

In [77]:
df['ingredients']

0       9
1      11
2      12
3       4
4      20
       ..
495     9
496     8
497     8
498    19
499    17
Name: ingredients, Length: 500, dtype: int64

# 13.6  Ответ 1: 5
#         Ответ 2: 2, 5

In [11]:
data = pd.read_excel('Fig3-1.xls')

In [12]:
data = pd.read_excel('Fig3-1.xls', header=None)

In [17]:
pd.set_option('display.max_columns', None)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,"U.S. Home Price and Related data, for Figure 3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,See the book for description of data.,NaN,NaN,NaN,"Update Nominal Home Price Index, Click Additio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Monthly data from January 1953 for prices, all...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nominal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Real,NaN,Real,NaN,NaN,NaN,NaN,Home,NaN,NaN,Nominal,NaN,NaN,Consumer,NaN,NaN,NaN,NaN
4,NaN,Home,NaN,Building,U.S.,NaN,NaN,NaN,Price,HPI,NaN,Building,NaN,NaN,Price,CPI Annual&,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,2018.791667,174.056034,NaN,NaN,NaN,NaN,NaN,2018.791667,205.709,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2018.791667,252.885,BLS,NaN,NaN,NaN
860,2018.875,174.438912,NaN,NaN,NaN,NaN,NaN,2018.875,205.471,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2018.875,252.038,BLS,NaN,NaN,NaN
861,2018.958333,174.658876,NaN,NaN,NaN,NaN,NaN,2018.958333,205.073,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2018.958333,251.233,BLS,NaN,NaN,NaN
862,2019.041667,174.01623,NaN,NaN,NaN,NaN,NaN,2019.041667,204.708,S&P/CoreLogic/Case-Shiller,NaN,NaN,NaN,2019.041667,251.712,BLS,NaN,NaN,NaN
863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.125,252.776,BLS,NaN,NaN,NaN

In [23]:
data_file=pd.ExcelFile('./Fig3-1.xls')
data=pd.read_excel(data_file,header=None)

In [32]:
data=pd.read_excel('Fig3-1.xls',['Sheet1','Sheet2'])

# 13.7  Ответ 1: 864
#         Ответ 2: 2

In [51]:

data=pd.read_excel("./nakladnaya.xls",header=None,skiprows=2)

In [52]:
data.dropna(axis='index', how='all')

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,НАКЛАДНАЯ,"№ 5764809 от ""08"" апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Грузоотправитель:,NaN,"ООО ""Первый строитель""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Грузополучатель:,NaN,"ООО ""Стройка века""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Основание для отпуска: Договор №,NaN,NaN,86,"от ""02""апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,№,Наименование товарно-материальных ценностей,NaN,NaN,NaN,Ед. изм.,NaN,NaN,Количество,NaN,"Цена,","Сумма,"
10,NaN,п/п,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,руб. коп.,руб. коп.
11,NaN,1,"Велосипед ""Спринтер""",NaN,NaN,NaN,шт,NaN,NaN,5,NaN,9000,45000
12,NaN,2,"Велосипед ""Малютка""",NaN,NaN,NaN,шт,NaN,NaN,10,NaN,3500,35000
14,NaN,NaN,Всего отпущено,2 (два) наименования,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,На сумму,80 000 (восемьдесят тысяч) рублей,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,Отпуск разрешил,Зам. Директора,NaN,NaN,NaN,NaN,Куликов,NaN,NaN,Куликов П.Д.,NaN
20,NaN,NaN,М.П.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,Отпустил,Кладовщик,NaN,NaN,NaN,NaN,Мазов,NaN,NaN,Мазов Р.К.,NaN
23,NaN,NaN,Получил,Водитель,NaN,NaN,NaN,NaN,Дроценко,NaN,NaN,Дроценко А.С.,NaN
25,NaN,NaN,М.П.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
data.iloc[0, 4].split('от')[0]

'№ 5764809  '

In [53]:
data.iloc[6:8, [1, 2, 6, 9, 11, 12]]

                                  1    2    6    9    11   12
6  Основание для отпуска: Договор №   NaN  NaN  NaN  NaN  NaN
7                                NaN  NaN  NaN  NaN  NaN  NaN

In [54]:
data.iloc[6:8, [0, 2, 6, 9, 11, 12]]

   0    2    6    9    11   12
6 NaN  NaN  NaN  NaN  NaN  NaN
7 NaN  NaN  NaN  NaN  NaN  NaN

In [55]:
data.iloc[7:8, :].dropna(axis=1, how='all')

Empty DataFrame
Columns: []
Index: [7]

In [56]:
data.iloc[6:8, :].dropna(axis=1, how='any')

Empty DataFrame
Columns: []
Index: [6, 7]

In [57]:
data.iloc[6:8, :].dropna(axis=1, how='all')

                                   1    4                      5
6  Основание для отпуска: Договор №    86  от "02"апреля 2018 г.
7                                NaN  NaN                    NaN

# 13.8 Ответ 1: 2
#         Ответ 2: 25
#         Ответ 3: 2
#         Ответ 4: 3
#         Ответ 5: 1, 2

# 13.9 Ответ 1: 1
#         Ответ 2: 1
#         Ответ 3: 2

# 13.10 Ответ 1: 5

In [59]:
import xml.etree.ElementTree as ET

In [60]:
tree = ET.parse('menu.xml')    
root = tree.getroot()

In [62]:
root[0][1]

In [63]:
len(root[0])

3

# 13.11 Ответ 1: 2
#           Ответ 2: weight
#           Ответ 3: 3

# 13.12 Ответ 1: 2
#           Ответ 2: 1, 2

# 13.13 Ответ 1: 1, 3, 4
#           Ответ 2: 2
#           Ответ 3: 1