In [1]:
import pandas as pd

# 12.1 Пропущенные значения

In [11]:
#Задание 1
log = pd.read_csv('log.csv')

In [12]:
log

,Запись пользователя № - user_919,[2019-01-01 14:06:51,Unnamed: 2,Unnamed: 3
0,Запись пользователя № - user_973,[2019-01-01 14:51:16,NaN,NaN
1,Запись пользователя № - user_903,[2019-01-01 16:31:16,NaN,NaN
2,Запись пользователя № - user_954,[2019-01-01 17:17:51,NaN,NaN
3,Запись пользователя № - user_954,[2019-01-01 21:31:18,NaN,NaN
4,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,NaN
...,...,...,...,...
994,Запись пользователя № - user_984,[2019-04-20 9:59:58,9754.0,NaN
995,#error,NaN,10054.0,29265.0
996,#error,NaN,10454.0,NaN
997,#error,NaN,1000.0,NaN
998,#error,NaN,10754.0,NaN

In [4]:
log.head().isna()

,Запись пользователя № - user_919,[2019-01-01 14:06:51,Unnamed: 2,Unnamed: 3
0,False,False,True,True
1,False,False,True,True
2,False,False,True,True
3,False,False,True,True
4,False,False,False,True

In [23]:
log['[2019-01-01 14:06:51'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
994    False
995     True
996     True
997     True
998     True
Name: [2019-01-01 14:06:51, Length: 999, dtype: bool

In [22]:
empty_rows[True]

KeyError: True