In [16]:
import pandas as pd
data = pd.Series(list(range(10, 1001)))

In [4]:
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [5]:
pd.Series(["Кот", "Собака", "Корова", "Лемур"], index = [3,7,12,26])

3        Кот
7     Собака
12    Корова
26     Лемур
dtype: object

In [6]:
pd.Series([3,7,12,26], index = ["Кот", "Собака", "Корова", "Лемур"])

Кот        3
Собака     7
Корова    12
Лемур     26
dtype: int64

In [9]:
import pandas as pd
df = pd.DataFrame({'Тестовая колонка': [1, 5]})
display(df)

   Тестовая колонка
0                 1
1                 5

In [25]:
df = pd.read_csv('data_sf.csv')
df

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [33]:
df.dtypes

Unnamed: 0          int64
Name               object
Age                 int64
Nationality        object
Club               object
Value               int64
Wage                int64
Position           object
Crossing            int64
Finishing           int64
HeadingAccuracy     int64
ShortPassing        int64
Volleys             int64
Dribbling           int64
Curve               int64
FKAccuracy          int64
LongPassing         int64
BallControl         int64
Acceleration        int64
SprintSpeed         int64
Agility             int64
Reactions           int64
Balance             int64
ShotPower           int64
Jumping             int64
Stamina             int64
Strength            int64
LongShots           int64
Aggression          int64
Interceptions       int64
Positioning         int64
Vision              int64
Penalties           int64
Composure           int64
Marking             int64
StandingTackle      int64
SlidingTackle       int64
GKDiving            int64
GKHandling          int64
GKKicking           int64
GKPositioning       int64
GKReflexes          int64
dtype: object

In [34]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 7.1 MB

In [35]:
round(7.1)

7

In [82]:
with pd.option_context('display.max_columns', None):
    display(df.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,44.264403,40.321625,50.115143,55.463596,63.109715,63.205629,61.819648,59.430565,63.171978,52.530666,64.285415,61.123052,64.271614,43.971931,53.777933,44.875940,47.166008,50.843374,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,17.781283,16.718481,15.215160,16.692643,15.129988,14.903845,14.858729,8.875832,14.190700,16.975214,11.765467,16.194498,12.550696,18.769749,17.232716,20.188799,19.245882,13.745960,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,6.000000,3.000000,9.000000,5.000000,12.000000,12.000000,15.000000,21.000000,16.000000,2.000000,15.000000,12.000000,17.000000,3.000000,11.000000,3.000000,2.000000,10.000000,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,32.000000,29.000000,40.000000,51.000000,55.000000,55.000000,53.000000,54.000000,55.000000,42.000000,57.000000,54.000000,57.000000,29.000000,41.000000,24.000000,35.000000,42.000000,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,45.000000,39.000000,53.000000,60.000000,66.000000,66.000000,64.000000,59.000000,65.000000,56.000000,65.000000,64.000000,65.000000,47.000000,56.000000,51.000000,52.000000,52.000000,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,58.000000,52.000000,61.000000,65.000000,74.000000,73.000000,72.000000,65.000000,73.000000,65.000000,72.000000,72.000000,73.000000,59.000000,67.000000,62.000000,61.000000,60.000000,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,93.000000,94.000000,93.000000,96.000000,97.000000,96.000000,96.000000,96.000000,96.000000,95.000000,95.000000,96.000000,97.000000,94.000000,95.000000,92.000000,95.000000,94.000000,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [37]:
round(24.795379)

25

In [42]:
clubs = df.Club

In [47]:
clubs.unique

<bound method Series.unique of 0               FC Barcelona
1                   Juventus
2        Paris Saint-Germain
3          Manchester United
4            Manchester City
                ...
12892        Crewe Alexandra
12893         Trelleborgs FF
12894       Cambridge United
12895        Tranmere Rovers
12896        Tranmere Rovers
Name: Club, Length: 12897, dtype: object>

In [48]:
df.describe(include = ['object'])

                Name Nationality             Club Position
count          12897       12897            12897    12897
unique         12326         156              650       27
top     J. Rodríguez     England  Shonan Bellmare       GK
freq               9        1368               30     1641

In [50]:
wage = df.Wage

In [51]:
wage.median

<bound method NDFrame._add_numeric_operations.<locals>.median of 0        565000
1        405000
2        290000
3        260000
4        355000
          ...
12892      1000
12893      1000
12894      1000
12895      1000
12896      1000
Name: Wage, Length: 12897, dtype: int64>

In [53]:
import statistics

In [55]:
statistics.median(wage)

2000

In [56]:
wage.sum()

96954000

In [65]:
Wage_over_mean = df[df.Wage > df.Wage.mean()]
Wage_over_mean['SprintSpeed'].mean()

67.56638061585058

In [66]:
Wage_less_mean = df[df.Wage < df.Wage.mean()]
Wage_less_mean['SprintSpeed'].mean()

62.41425430560645

In [73]:
with pd.option_context('display.max_columns', None):
    display(df.sort_values(by=['Wage'], ascending=False))

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,70,90,86,97,93,94,87,96,91,86,91,95,95,85,68,72,59,94,48,22,94,94,75,96,33,28,26,6,11,15,14,8
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,77,82,88,87,86,84,64,90,86,75,82,92,83,86,69,90,83,85,87,41,92,84,85,85,62,45,38,27,25,31,33,37
6,6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM,86,72,55,93,76,90,85,78,88,93,80,72,93,90,94,79,68,89,58,82,62,83,79,92,82,84,60,76,73,13,9,7,14,9
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,89,81,87,88,81,76,77,94,89,91,87,96,70,95,95,88,79,93,63,29,95,82,85,95,28,31,23,7,11,15,14,11
8,8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB,66,60,91,78,66,63,74,72,77,84,76,75,78,85,66,79,93,84,83,59,88,90,60,63,75,82,87,92,91,11,8,9,7,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4957,5112,N. Busch Thor,32,Sweden,IK Sirius,300000,1000,CDM,61,46,55,63,43,59,48,30,69,63,57,53,68,69,71,54,66,59,72,51,73,66,43,68,40,64,58,56,54,12,6,12,11,6
4960,5115,D. Ovono,35,Gabon,Paris FC,130000,1000,GK,12,12,20,27,14,14,15,13,24,20,53,48,48,60,56,22,66,24,71,12,35,18,15,37,14,60,13,14,15,67,58,64,65,70
9248,9449,J. Albert,26,France,Clermont Foot 63,270000,1000,CB,23,18,60,48,26,25,30,29,29,43,54,63,50,51,50,42,76,58,82,24,43,56,24,28,37,57,67,60,58,6,13,9,14,8
4966,5121,M. Pascali,36,Italy,Cosenza,70000,1000,CB,50,44,68,58,42,44,34,55,55,60,37,34,65,56,61,57,64,80,81,58,82,55,41,43,28,51,62,64,57,8,9,11,13,6
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,46,48,30,43,40,34,44,51,57,55,55,51,63,43,62,47,60,32,56,42,34,49,33,43,40,43,50,10,15,9,12,9

In [76]:
Brasil_players = df[df.Nationality =='Brazil']
Brasil_players['Penalties'].sum()

22789

In [79]:
HeadingAccuracy = df[df.HeadingAccuracy > 50]
HeadingAccuracy
with pd.option_context('display.max_columns', None):
    display(HeadingAccuracy)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,70,90,86,97,93,94,87,96,91,86,91,95,95,85,68,72,59,94,48,22,94,94,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,89,81,87,88,81,76,77,94,89,91,87,96,70,95,95,88,79,93,63,29,95,82,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,62,84,84,96,88,87,78,95,94,90,96,94,84,80,61,81,49,82,56,36,89,87,81,94,27,24,33,9,9,15,15,11
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,55,92,82,86,85,83,91,91,78,76,79,91,77,91,63,90,75,91,76,61,87,94,79,88,68,58,51,15,13,5,10,13
5,5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF,81,84,61,89,80,95,83,79,83,94,94,88,95,90,94,82,56,83,66,80,54,41,87,89,86,91,34,27,22,11,12,6,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12769,12998,T. Kawamura,18,Japan,Sanfrecce Hiroshima,50000,1000,CM,42,36,54,60,50,42,45,41,53,49,63,58,56,53,61,61,63,43,50,46,50,41,46,47,37,41,53,45,44,5,10,7,10,9
12777,13006,Kwon Ki Pyo,21,Korea Republic,Pohang Steelers,50000,1000,ST,33,57,56,35,40,48,30,26,33,41,51,51,50,47,74,46,67,56,48,45,28,14,52,42,63,47,46,17,14,13,7,14,12,5
12788,13017,S. Dawood,19,Saudi Arabia,Al Batin,50000,1000,CB,24,21,56,27,21,25,23,23,22,27,62,53,40,43,59,35,67,57,64,18,42,50,24,29,31,39,45,50,51,11,10,11,10,7
12818,13047,Zhu Jiayi,19,China PR,Shanghai SIPG FC,50000,1000,CB,23,24,52,25,22,26,21,27,28,27,60,56,48,43,45,39,66,60,67,16,42,48,25,33,38,38,41,49,48,9,11,10,7,11
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,52,43,36,39,32,20,25,40,41,39,38,40,52,41,47,43,67,42,47,16,46,33,43,42,22,15,19,10,9,9,5,12

In [80]:
HeadingAccuracy['Age'].mean()

25.58771113179944

In [86]:
Reactions = 96
Composure = 96
86,4
Reaction_and_Composure = df[df.Reactions & df.Composure > 86.4]
Reaction_and_Composure['Age'].min()

24

In [104]:
Max_age = df[df.Age == df['Age'].max()]
Max_age

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
1628,1695,O. Pérez,45,Mexico,Pachuca,1300000,8000,GK,19,14,...,23,62,23,12,11,70,64,65,73,74

In [102]:
Max_age['Reactions'].mean()

72.0

In [106]:
Min_age = df[df.Age == df['Age'].min()]
Min_age

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
6278,6449,W. Geubbels,16,France,AS Monaco,1000000,5000,ST,52,65,...,58,63,27,21,19,5,13,6,15,14
6550,6724,A. Taoui,16,France,Toulouse Football Club,700000,3000,ST,63,69,...,65,52,17,19,20,8,6,6,8,11
7306,7487,Pelayo Morilla,16,Spain,Real Sporting de Gijón,725000,1000,RM,63,61,...,58,55,22,21,26,11,11,6,15,7
7632,7819,Guerrero,16,Spain,CF Rayo Majadahonda,6000000,1000,CM,50,51,...,53,55,56,64,58,6,5,10,6,14
8046,8236,H. Massengo,16,France,AS Monaco,450000,2000,CDM,52,39,...,51,50,52,62,65,8,14,12,9,15
8318,8509,Y. Verschaeren,16,Belgium,RSC Anderlecht,650000,1000,CAM,48,54,...,49,50,35,38,35,15,6,12,10,7
10094,10302,Y. Roemer,16,Netherlands,VVV-Venlo,300000,1000,ST,38,66,...,71,48,22,15,20,9,9,11,10,9
10471,10685,Y. Begraoui,16,France,AJ Auxerre,350000,1000,ST,45,68,...,67,55,13,18,20,9,9,14,12,5
10517,10732,J. Lahne,16,Sweden,IF Brommapojkarna,300000,1000,ST,37,57,...,40,58,27,38,37,14,15,14,14,7
10801,11020,J. Italiano,16,Australia,Perth Glory,280000,1000,LM,43,50,...,40,57,36,38,43,7,7,9,10,5
10971,11191,S. Steijn,16,Netherlands,VVV-Venlo,250000,1000,CAM,46,56,...,51,63,32,32,48,7,8,9,6,12
11134,11355,J. Kitolano,16,Norway,Odds BK,550000,1000,LCM,46,44,...,42,52,53,48,45,11,14,7,7,13
11257,11479,D. Adshead,16,England,Rochdale,200000,1000,CM,43,47,...,47,60,40,54,49,10,6,6,13,8
11637,11861,B. Nygren,16,Sweden,IFK Göteborg,180000,1000,ST,38,60,...,58,43,18,16,18,6,10,6,12,8
11798,12025,A. Doğan,16,Turkey,Kayserispor,160000,1000,CB,29,22,...,44,41,52,67,58,14,14,10,5,8
11821,12048,C. Bassett,16,United States,Colorado Rapids,180000,1000,CDM,57,44,...,53,48,52,54,52,14,15,11,12,5
11880,12107,B. Mumba,16,England,Sunderland,190000,1000,CM,42,33,...,48,54,55,56,54,14,9,8,11,14
11882,12109,R. Gómez,16,Argentina,Belgrano de Córdoba,3900000,1000,RM,55,53,...,58,46,26,35,32,7,13,14,13,6
11904,12132,H. Andersson,16,Sweden,Örebro SK,300000,1000,CB,22,24,...,33,43,58,56,54,11,5,13,7,9
11965,12194,P. Samiec-Talar,16,Poland,Śląsk Wrocław,180000,1000,ST,31,57,...,57,43,31,21,24,14,8,14,13,10
12055,12284,L. D'Arrigo,16,Australia,Adelaide United,130000,1000,CAM,34,40,...,41,41,20,35,34,5,10,12,15,9
12408,12637,K. Broda,16,Poland,Wisła Kraków,110000,1000,GK,11,8,...,14,37,8,11,12,59,51,53,45,58
12439,12668,J. Olstad,16,Norway,Sarpsborg 08 FF,100000,1000,ST,28,53,...,54,42,13,19,20,7,8,9,11,8
12447,12676,E. Ceide,16,Norway,Rosenborg BK,110000,1000,RW,50,44,...,38,43,22,35,37,6,7,10,9,13
12449,12678,B. Waine,16,New Zealand,Wellington Phoenix,100000,1000,ST,29,55,...,61,46,16,13,11,13,7,11,13,12
12453,12682,L. Smyth,16,Northern Ireland,Stevenage,110000,1000,ST,31,53,...,57,45,19,16,14,14,5,7,7,5
12472,12701,M. Köstenbauer,16,Austria,FC Admira Wacker Mödling,90000,1000,GK,11,5,...,17,30,10,11,14,56,55,45,41,57
12504,12733,A. Mahlonoko,16,South Africa,Orlando Pirates,100000,1000,CAM,26,52,...,55,51,29,23,21,6,12,9,15,7
12536,12765,F. Tauchhammer,16,Austria,Wolfsberger AC,90000,1000,RB,46,17,...,38,40,46,54,55,14,14,11,11,15
12576,12805,R. Hauge,16,Norway,FK Bodø/Glimt,100000,1000,CM,34,46,...,41,48,48,50,47,6,9,11,11,9
12582,12811,M. Tilio,16,Australia,Sydney FC,100000,1000,CAM,47,53,...,44,47,31,35,47,12,7,13,14,14
12616,12845,J. Rowland,16,England,Shrewsbury,70000,1000,CAM,44,40,...,40,52,36,31,30,12,10,7,6,12
12670,12899,M. Larsen,16,Denmark,Esbjerg fB,70000,1000,CM,46,42,...,38,45,30,42,41,12,13,6,14,5
12697,12926,J. Imbrechts,16,Sweden,Sporting de Charleroi,70000,1000,GK,9,4,...,18,27,6,15,12,55,49,53,45,56
12712,12941,B. O'Gorman,16,Republic of Ireland,Bray Wanderers,60000,1000,RM,42,48,...,50,46,28,18,14,14,15,12,10,5
12738,12967,K. Lara,16,Colombia,Atlético Huila,170000,1000,RB,36,27,...,38,32,47,50,47,9,13,8,12,9
12799,13028,J. Cleary,16,Republic of Ireland,Bohemian FC,50000,1000,GK,11,7,...,18,30,7,12,11,47,55,58,45,50
12817,13046,G. Hollywood,16,Republic of Ireland,Bray Wanderers,60000,1000,CM,38,45,...,48,49,39,44,38,12,10,12,8,5
12853,13082,T. Gundelund,16,Denmark,Vejle Boldklub,50000,1000,RWB,40,24,...,30,34,43,52,49,6,10,12,11,6
12856,13085,N. Ayéva,16,Sweden,Örebro SK,70000,1000,ST,34,47,...,60,44,14,19,16,10,9,8,7,6
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [107]:
Min_age['Reactions'].mean()

49.357142857142854

In [111]:
Max_age['Reactions'].mean() - Min_age['Reactions'].mean()

22.642857142857146

In [113]:
Value_over_mean = df[df.Value > df['Value'].mean()]
Value_over_mean

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12736,12965,J. Morris,18,England,Doncaster Rovers,2500000,1000,ST,25,58,...,59,43,17,13,12,12,5,11,6,5
12774,13003,J. Martin,19,Republic of Ireland,Waterford FC,7500000,1000,CAM,33,56,...,56,49,38,19,19,9,7,12,10,6
12812,13041,J. Egan,19,England,Carlisle United,3500000,1000,RM,48,44,...,47,42,23,25,27,12,9,10,8,12
12857,13086,Wu Lei,21,China PR,Tianjin Quanjian FC,9000000,2000,LDM,52,29,...,46,39,52,40,49,8,15,11,8,5
12869,13098,J. Williams,17,England,Northampton Town,2300000,1000,CB,25,22,...,32,37,42,51,49,14,11,7,11,8

In [115]:
Value_over_mean.describe(include = ['object'])

                Name Nationality             Club Position
count           1747        1747             1747     1747
unique          1558          98              447       27
top     J. Rodríguez       Spain  Manchester City       ST
freq               9         211               17      214

In [126]:
gk = df[df.Position == 'GK']
maxGKref = gk[gk.GKReflexes == gk['GKReflexes'].max()]
maxGKref['Wage'].mean()

260000.0

In [129]:
maxGKHandl = gk[gk.GKHandling == gk['GKHandling'].max()]
maxGKHandl
maxGKHandl['Wage'].mean()

94000.0

In [130]:
maxGKref['Wage'].mean() - maxGKHandl['Wage'].mean()

166000.0

In [135]:
aggrmax = df[df.Aggression == df['Aggression'].max()]
aggr['ShotPower'].mean()

63.0

In [139]:
aggrmin = df[df.Aggression == df['Aggression'].min()]
aggrmin['ShotPower'].mean()

30.333333333333332

In [140]:
aggr['ShotPower'].mean() - aggrmin['ShotPower'].mean()

32.66666666666667